/* TABLET + MOBILE VIEW | Sections 1, 2, 3, 4, 7*/

/* Header (Mobile) */
@media (max-width: 800px) {
  


}


/*Section 1 -  Carousol/Videos - Mobile*/
  		/* Default to max-width = 600px */
		#mainCarousel {
			margin-left: 50px;
			margin-right: 50px;
			width: 80%;
		}
		
		.carousel-control.left {
			background-image: none;
			color: #0E182D;
			width: 25px;
			margin-left: -25px;
		}
		.carousel-control.right {
			background-image: none;
			color: #0E182D;
			width: 25px;
			margin-right: -25px;
		}
		.carousel .carousel-indicators li {
		  background-color: #ffffff;
		}
		.carousel-indicators {
			bottom:-45px;
		}
		.carousel-inner {
		   margin-bottom:15px;
		}		
		.carousel .carousel-indicators .active {
			width: 30px;
			height: 30px;
			color: #ffffff;
			background-color: #0E182D;
		}
		.carousel-indicators-numbers
		 li {
		  text-indent: 0;
		  margin: 0;
		  width: 30px;
		  height: 30px;
		  border: none;
		  border-radius: 100%;
		  line-height: 30px;
		  color: #0E182D;
		  transition: all 0.25s ease;
		}
	
		 .carousel-indicators-numbers li:active, 
		 .carousel-indicators-numbers li:hover {
		   color: #ff0000;
		   margin: 0;
		   width: 30px;
		   height: 30px;
		   background-color: #ffffff;
		   text-decoration: underline;
        }
        
    a.carousel_link {
      color:white; font-style: italic;
    float: right;}
		a.carousel_link:link  {text-decoration: underline; color: white; font-style: italic;}
		a.carousel_link:visited {text-decoration: underline; color: lightgrey; font-style: italic;}
		a.carousel_link:hover {text-decoration: underline; color: lightgrey; font-style: italic;}
		a.carousel_link:active {text-decoration: none; color: lightblue; font-style: italic;}

		.carousel_desc {
      /* position: relative; */
      position: absolute;
      color:white; 
      /* original code for mobile */
			/* top:-55px;
			left:-115px;
			text-align: left;
			width:175px;
			height: 0px;
      line-height: 0.5; */

      /* EGH changes on 06/27/19 */
      /* bottom:25%;
			left:2px;
			text-align: left;
			width: 50%;
      height: 5%;
      line-height: 0.6; */

      /* EGH changes on 06/28/19 */
      /* bottom:25%;
      margin-left: 0.75vw;
      margin-bottom: 2%;
			text-align: left;
			width: 50%;
      height: 0;
      line-height: 0.5; */

      /* new EGH changes on 06/25/19 */
      position: absolute;
      color: white;
      bottom: 0%;
      margin-left: 0;
      text-align: left;
      width: 100%;
      line-height: 1.0;
      margin-bottom: 0;
      background-color:rgb(14,24,45,0.8);
      height: 40%;
      padding: 1%;
      overflow: auto;
      border-left: 5px solid red;
		}
		.carousel_header {
      /* EGH changed 06/28/19 */
      font-size: 12px;
			font-weight: bold;
		}
		.carousel_body {
      /* EGH changed 06/28/19 */
      font-size: 10px;
		}
      
		/* nav div ul li.focus, nav div ul li:focus {
			outline: 0;
			box-shadow: none!important;
		} */
		/* nav div ul li#engaged {
			float: right;
		} */
		#video1, #video2 {
			width: 93%;
			top:-600px;
		}

/*Section 2 - Telehealth - Mobile*/
@media (max-width: 800px){

		#divider_section {
			padding:0;
			margin:0;
			background-color: #FFFFFF;
			width: 100%;
			height: 20px;
		}
		.telehealth_label_1 {
			color: #1F88C9;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 30px;
      padding-left: 30px;
		}
		.telehealth_spacer {
			height: auto;
		}
		.telehealth_text {
			color: #FFFFFF;
			font-size: 12px;
      width: 100%;
      /* changed this line-height from 5% to stop the squish */
      line-height: 150%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 30px;
      padding-left: 30px;
		}
    .stats_img{
      height: 25%;
      width: 60%;
			padding: 0px; 
			margin-top:20px; 
      margin-bottom: 0px;
      margin-left: 20px;
      margin-right: 20px;
      vertical-align: middle
		}
		.RW_Quote {
			color: #FFFFFF;
			font-size: 12px;
			font-family: "Times New Roman, Times, serif";
			width: 60%;
		} 
		.RW_sig {
			color: #1F88C9;
			font-size: 10px;
			padding-top: 2em;
			padding-bottom: 2em;
      line-height: 5%;
		}
		.horizontal_rule_group  {
			width: 80%;
			text-align: center;
			padding-top:2em;
			padding-bottom: 2em;
		}
    .fas fa-quote-left {
      height: 10%;
      width: 60%;
    }
}


/*Section 3 - About Us - Mobile*/
@media (max-width: 800px) {
  
  .section3 {
    margin: 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 70px;
  }

  .s3accright{
    width: 100%;
  }
  .s3accright {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
  .section3h3 {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
  }
  .accitem4,.accitem3, .accitem2, .accitem1 {
  border-bottom: 2px solid #c9c9c9;
  }
  .accitem5 {
  border-bottom: 0px none hsla(0, 0%, 58.7%, 0.43);
  }
  .accitemh1 {
  color: #174071;
  font-size: 16px;
  text-indent: 1.5px;
  }
  .section3h1 {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #c81c23;
  font-size: 15px;
  text-align: left;
  letter-spacing: 2px;
  }
  .accitemcontent {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  }
  .s3header {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  }

}

/*Section 4 - Transformation - Mobile*/
@media (max-width: 800px) {
  
  #transformation_section {
	  padding:0;
	  margin:0;
		background-color: #0E182D;
		width: 100%;
		}
  .section4 {
  margin-top: 60px;
  margin-bottom: 60px;
  }
  .section4h1 {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #c81c23;
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
    }
  .section4h2 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #174071;
    font-size: 20px;
    line-height: 3em;
    font-weight: 400;
    text-align: center;
  }
  .section4h3 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2em;
    font-size: 14px;
    text-align: center;
    }
    .icon1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    }
    .icon1text {
    padding-top: 20px;
    text-align: center;
    }
    .iconh2 {
    color: #000;
    }
    .column1s4 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column2s4 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column3s4 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column4s4 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

}

/*Section 5- NEW BUSINESS TRANSFORMATION - Mobile*/
@media (max-width: 800px) {
  
  /* changed */
  .section5 {
    margin: 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 70px;
  }

  /* changed */
  .s5accright{
    width: 100%;
  }

  /* changed */
  .s5accright {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }

  /* changed */
  .section5h3 {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    color: white;
  }
  /* changed */
  .accitem6,.accitem7, .accitem8, .accitem9 {
  border-bottom: 2px solid #c9c9c9;
  }

  /* changed */
  .accitem10 {
  border-bottom: 0px none hsla(0, 0%, 58.7%, 0.43);
  }

  /* changed */
  .btaccitemh1 {
  color:#1F88C9;
  font-size: 16px;
  text-indent: 1.5px;
  }

  /* added */
  .btaccitemh2 {
    color: white;
  }

  /* changed */
  .section5h1 {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #c81c23;
  font-size: 15px;
  text-align: left;
  letter-spacing: 2px;
  }

  /* unchanged */
  .accitemcontent {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  /* changed */
  .s5header {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  }

}

/*Section 7 - Technology - Mobile*/
@media (max-width: 800px) {

    .section7 {
    margin-top: 60px;
    margin-bottom: 60px;
    }
    .section7h1 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #c81c23;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
    }
    .section7h2 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #174071;
    font-size: 20px;
    line-height: 3em;
    font-weight: 400;
    text-align: center;
    }
    .section7h3 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    }
    /* .icon2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    } */
    .icon2text {
    padding-top: 20px;
    text-align: center;
    display: show;
    }
    .column1s7 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    }

    .column2s7 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    }

    .column3s7 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    }

    .column4s7 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    }
    .iconimages7 {
    margin-right: auto;
    margin-left: auto;
    }
    .icon2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    }
    .iconh4 {
    color: #000;
    }
    #IconHoverContainer{
    display: ;
    }
    #IconHoverText{
    
    } 
}


/*Section 9 - Subscribe - Mobile*/
@media (max-width: 800px) {

    .section9 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  .section9h1 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #c81c23;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
  }

  .section9h2 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #174071;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
  }

  .subscribebuttoncontainer {
    padding-top: 10px;
  }

  .button {
    display: block;
    width: 175px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #174071;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
}



/*--------------------------- DESKTOP + LAPTOP VIEW | SECTIONS 2 3, 4, 7 --------------------------*/


/*Section 1 - Carousel - Desktop */
  /*Included in mod.html*/

/*Section 2 - Telehealth - Desktop */
  /*Included in mod.html*/

/*Section 3 - About Us - Desktop*/
@media (min-width: 800px){

  .section3 {
    margin: 60px 25px;
  }

  .section3 {
    width: auto;
    margin: 0px 0px 60px;
    padding: 60px 100px 0px;
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: scroll;
  }


  .s3accwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 550px;
    margin: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .accitemtrigger {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .accitemimg1 {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  .accitemimg5 {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  .accimg5 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .accitemimg4 {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  .accimg2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .section3h3 {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
  }

  .accitem3 {
    border-bottom: 2px solid #c9c9c9;
  }

  .accitemh1 {
    color: #174071;
    font-size: 16px;
    text-indent: 1.5px;
  }

  .section3h1 {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #c81c23;
    font-size: 15px;
    text-align: left;
    letter-spacing: 2px;
  }

  .accitemimgcontainer {
    display: block;
    width: 500px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  .accitem5 {
    border-bottom: 0px none hsla(0, 0%, 58.7%, 0.43);
  }

  .accitemimg3 {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  .accimg1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .accitemcontent {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  .accitemh2 {
    letter-spacing: normal;
    text-indent: 0px;
    -webkit-column-count: auto;
    column-count: auto;
  }

  .accitem4 {
    border-bottom: 2px solid #c9c9c9;
  }

  .accitemimg2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .s3header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .accimg3 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .accimg4 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .s3accleft {
    width: 40%;
  }

  .accitem1 {
    border-bottom: 2px solid #c9c9c9;
  }

  .s3accright {
    display: block;
    width: 60%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .accitem2 {
    border-bottom: 2px solid #c9c9c9;
  }

  .iconh4 {
    color: #000;
  }

  .iconh2-co {
    color: #000;
  }

}

/*Section 4 Desktop */
@media (min-width: 800px){

  .section4h1 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #c81c23;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
  }

  .section4h2 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #174071;
    font-size: 42px;
    line-height: 45px;
    font-weight: 400;
    text-align: center;
  }

  .section4h3 {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-left: 0px;
  }

  .icon1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  .icon1text {
    padding-top: 20px;
    text-align: center;
  }

  .iconrow1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .iconh2 {
    color: #000;
  }

  .section4 {
    margin-top: 60px;
  }
  .column1s4 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column2s4 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column3s4 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column4s4 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .iconimages4 {
    margin-right: auto;
    margin-left: auto;
  }

  .iconh1 {
    padding-bottom: 10px;
    color: #174071;
  }

}

/*Section 5 - NEW BUSINESS TRANSFORMATION - Desktop */
@media (min-width: 800px){

  /* changed */
  .section5 {
    margin: 60px 25px;
  }

  /* changed */
  .section5 {
    width: auto;
    margin: 0px 0px 60px;
    padding: 60px 100px 0px;
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
  }

  /* changed */
  .s5accwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 550px;
    margin: 0px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  /* unchagned */
  .accitemtrigger {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* changed */
  .accitemimg6 {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  /* changed */
  .accitemimg10 {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  /* changed */
  .accimg10 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* changed */
  .accitemimg9 {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  /* changed */
  .accimg7 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  /* changed */
  .section5h3 {
    color: white;
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
  }

  /* changed */
  .accitem8 {
    border-bottom: 2px solid #c9c9c9;
  }

  /* unchanged */
  .btaccitemh1 {
    color: #1F88C9;
    font-size: 16px;
    text-indent: 1.5px;
  }

  /* changed */
  .section5h1 {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #c81c23;
    font-size: 15px;
    text-align: left;
    letter-spacing: 2px;
  }

  /* unchanged */
  .accitemimgcontainer {
    display: block;
    width: 500px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  /* changed */
  .accitem10 {
    border-bottom: 0px none hsla(0, 0%, 58.7%, 0.43);
  }

  /* changed */
  .accitemimg8 {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  /* changed */
  .accimg6 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* unchanged */
  .accitemcontent {
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
  }

  /* changed */
  .btaccitemh2 {
    letter-spacing: normal;
    text-indent: 0px;
    -webkit-column-count: auto;
    column-count: auto;
    color: white;
  }

  /* changed */
  .accitem9 {
    border-bottom: 2px solid #c9c9c9;
  }

  /* changed */
  .accitemimg7 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* changed */
  .s5header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  /* changed */
  .accimg8 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* changed */
  .accimg9 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* changed */
  .s5accleft {
    width: 40%;
  }

  /* changed */
  .accitem6 {
    border-bottom: 2px solid #c9c9c9;
  }

  /* changed */
  .s5accright {
    display: block;
    width: 60%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  /* changed */
  .accitem7 {
    border-bottom: 2px solid #c9c9c9;
  }

  .iconh4 {
    color: #000;
  }

  .iconh2-co {
    color: #000;
  }

} 

/*Section 6 - Healthcare - Desktop */
  /*Included in mod.html*/

/*Section 7 - Technology - Desktop*/

@media (min-width: 800px){

  .column4s7 {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.column3s7 {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.column2s7 {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.iconh1 {
  padding-bottom: 10px;
  color: #174071;
}

.section7h3 {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-left: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.icon2text {
  padding-top: 20px;
  text-align: center;
}

.section7h2 {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #174071;
  font-size: 42px;
  line-height: 45px;
  font-weight: 400;
  text-align: center;
}

.column1s7 {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  cursor: pointer;
}

.iconimages7 {
  margin-right: auto;
  margin-left: auto;
}

.section7h1 {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #c81c23;
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
}

.iconh2 {
  color: #000;
}

.icon1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.iconrow2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section7 {
  height: 600px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.icon2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.icon1text {
  padding-top: 20px;
  text-align: center;
}

  /* .section7 {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .section7h1 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #c81c23;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
  }

  .section7h2 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #174071;
    font-size: 42px;
    line-height: 45px;
    font-weight: 400;
    text-align: center;
  }

  .section7h3 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
  }

  .iconrow2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .icon2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  .icon2text {
    padding-top: 20px;
    text-align: center;
  }

  .column1s7 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column2s7 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column3s7 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .column4s7 {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .iconimages7 {
    margin-right: auto;
    margin-left: auto;
  } */

}




/*Section 8 - Voices - Desktop*/
  /*Located in mod.html*/

/*Section 9 - Subscribe - Desktop*/
@media (min-width: 800px) {

    .section9 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  .section9h1 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #c81c23;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
  }

  .section9h2 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #174071;
    font-size: 42px;
    line-height: 45px;
    font-weight: 400;
    text-align: center;
  }

  .subscribebuttoncontainer {
    padding-top: 10px;
  }

  .button {
    display: block;
    width: 175px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #174071;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

}
