

/* SOCIAL MEDIA HEADER STYLING */
.social-media-header {
  float: right;
  margin-top: 1rem;
  list-style:none;
}

.social-media-header li {
  margin:0 5px;
  /* position:relative; */
  display:inline-block
}

/* setting the size of the icons */
.social-media-header li span {
  font-size: 18px;
}

/* coloring all of the icons */
.social-media-header li span a i {
  color: dimgray;
}

/* coloring all of the icons on hovr*/
.social-media-header li span a i:hover {
  color: steelblue
}

/* for the half cards */
.half-card {
  background-image: url("http://via.placeholder.com/250?text=image");
  height: 50vh;
  width: 100%;
  text-align: center;
}

.half-card h3 {
  text-align: center;
}

.half-card p {
  margin: 0rem 4rem;
  text-align: justify
}

.half-card button {
  margin-top: 5rem;
}

.third-card {
  text-align: center;
}

.third-card img {
  width: 100%
}

.third-card p {
  text-align: justify;
}

.usa-section h2 {
  text-align: center;
}

.partner-row {
  margin-left: 0;
  margin-right: 0;
}

.partner-card {
  background-image: url("http://via.placeholder.com/250?text=image");
  border: black solid 1px;
  width: 100%;
  height: 30vh;
  text-align: center
}

/* OVERRIDING SETTINGS IN USWDS.CSS */
@media screen and (min-width: 951px) {
  /* makes sure the nav is big enough to float the social media icons right, but leave the menu unchanged at small screen-sizes */
  .usa-nav {
    width: 80% !important
  }
  
  /* styling the submenu  */
  .usa-nav-submenu {
    background-color: steelblue !important;
    opacity: .75 !important;
  }

  /* styling the navlink */
  .usa-nav-submenu a:hover {
    background-color: steelblue !important;
  } 

  /* styles the menu button when clicked */
 .usa-nav-primary button[aria-expanded=true] {
   background-color: steelblue !important;
 }

 /* the styling of the menu text when clicked */
 .usa-nav-primary button[aria-expanded=true] span {
  border-bottom: 0.4rem solid #ffffff !important;
  padding-bottom: 0.6rem !important;
  color: #ffffff !important;
}

 /* styles the text of the menu button when hovered over */
 .usa-nav-primary button:hover {
  color:  steelblue !important;
}

/* styles the span when it is hovered over */
.usa-nav-primary button[aria-expanded=false] span:hover {
  border-bottom: 0.4rem solid steelblue !important;
  padding-bottom: 0.6rem !important;
}

/* Overriding the hero/jumbotron */
.usa-hero {
  padding-top: 10rem !important;
  padding-bottom: 3rem;
  /* margin-top: -5rem !important; */
  background-image: url("http://via.placeholder.com/500x500?text=Jumbotron+takes+up+three+quarters+view");
  background-position: center;
  background-size: cover;
  height: 66vh;
}

/* overriding usa-section */
.usa-section {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important
}
  
}

