

/* SOCIAL MEDIA HEADER STYLING */
.social-media-header {
  float: right;
  margin-top: 1rem;
  list-style:none;
}

.social-media-header li {
  margin:0 5px;
  /* position:relative; */
  display:inline-block
}

/* setting the size of the icons */
.social-media-header li span {
  font-size: 18px;
}

/* coloring all of the icons */
.social-media-header li span a i {
  color: dimgray;
}

/* coloring all of the icons on hovr*/
.social-media-header li span a i:hover {
  color: steelblue
}


/* OVERRIDING SETTINGS IN USWDS.CSS */
@media screen and (min-width: 951px) {
  /* makes sure the nav is big enough to float the social media icons right, but leave the menu unchanged at small screen-sizes */
  .usa-nav {
    width: 80% !important
  }
  
  /* styling the submenu  */
  .usa-nav-submenu {
    background-color: steelblue !important;
    opacity: .75 !important;
  }

  /* styling the navlink */
  .usa-nav-submenu a:hover {
    background-color: steelblue !important;
  } 

  /* styles the menu button when clicked */
 .usa-nav-primary button[aria-expanded=true] {
   background-color: steelblue !important;
 }

 /* the styling of the menu text when clicked */
 .usa-nav-primary button[aria-expanded=true] span {
  border-bottom: 0.4rem solid #ffffff !important;
  padding-bottom: 0.6rem !important;
  color: #ffffff !important;
}

 /* styles the text of the menu button when hovered over */
 .usa-nav-primary button:hover {
  color:  steelblue !important;
}

/* styles the span when it is hovered over */
.usa-nav-primary button[aria-expanded=false] span:hover {
  border-bottom: 0.4rem solid steelblue !important;
  padding-bottom: 0.6rem !important;
}


  
}

