/* styling for the initiatives cards */
.init-card {
  border-style: solid;
  border-color: black;
  border-width: thin;
  padding: 1rem;
  border-radius: 1rem;
  /* aligns the image in center */
  text-align: center;
}

div.init-card h3 {
  text-align: left
}

/* keeps description text left-aligned */
div.init-card p {
  text-align: left
}